/* Remove the navbar's default rounded borders */ 
.navbar {
    border-radius: 0;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position:absolute;
    bottom:0;
    width:100%;
}

/* Fixed size for buttons */
.btn-lg {
    font-size: 60px;
    width: 101px;
    height: auto;
}

/* Borders of tic tac toe */
.c00, .c10, .c01, .c11 {
    border-left-color: white;
    border-top-color: white;
    border-right-color: black;
    border-right-width: 3px;
    border-bottom-color: black;
    border-bottom-width: 3px;
}

.c02, .c12 {
    border-bottom-color: black;
    border-bottom-width: 3px;
    border-right-color: white;
}

.c20, .c21 {
    border-right-color: black;
    border-right-width: 3px;
    border-bottom-color: white;
    border-left-color: white;
}

.c22 {
    border-bottom-color: white;
    border-right-color: white;
}